html
  head
    title='Kawaii Counter!'
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='favicon.png')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css')

  body
    h3 How to use:

    h5 SVG address
    code https://count.getloli.com/get/@:name

    h5 Img tag
    code &lt;img src="https://count.getloli.com/get/@:name" alt=":name" />

    h5 Markdown
    code ![:name](https://count.getloli.com/get/@:name)

    h3 eg:
      <img src="https://count.getloli.com/get/@index" alt="Kawaii Count!" />

    i Data can access by anyone, please
      | <span style="color: #ff4500;"> DO NOT</span>
      |  enter personal information

    h3 Credits
    ul
      li
        a(href='https://repl.it/') repl.it
      li
        a(href='javascript:alert("!!! NSFW LINK !!!\\nPlease enter the url manually")') konachan.com
        |  NSFW

    h3 Tool
    .tool
      code https://count.getloli.com/get/@
      input#name(type='text', placeholder=':name', style='display: inline-block; width: 80px; height: 1.4em; line-height: 1.4em; margin: 0 4px; vertical-align: middle;')
      button#get(style='margin: 10px 0') Get
      img#result(style='display: block; width: 315px; height: 100px')

      script.
        var btn = document.getElementById('get'),
            img = document.getElementById('result')

        btn.addEventListener('click', function() {
          var name = document.getElementById('name')
          var text = name.value ? name.value.trim() : ''
          if(!text) {
            alert('Please input counter name.')
            return
          }

          img.src = 'https://count.getloli.com/get/@' + text
        })

    p.copy
      a(href='https://repl.it/@journeyad/kawaii-counter') source code