html
  head
    title='Moe Counter!'
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='favicon.png')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css')
    link(rel='stylesheet', href='style.css')
    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async, src='https://www.googletagmanager.com/gtag/js?id=G-2RLWN5JXRL')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2RLWN5JXRL');

      function _evt_push(type, category, label){
        gtag('event', type, {
          'event_category' : category,
          'event_label' : label
        });
      }

  body
    h3 How to use:

    h5 SVG address
    code https://count.getloli.com/get/@:name

    h5 Img tag
    code &lt;img src="https://count.getloli.com/get/@:name" alt=":name" />

    h5 Markdown
    code ![:name](https://count.getloli.com/get/@:name)

    h3 eg:
      <img src="https://count.getloli.com/get/@index" alt="Moe Count!" />

    i Data can access by anyone, please
      | <span style="color: #ff4500;"> DO NOT</span>
      |  enter personal information

    details
      summary(style='display: inline-block;', onclick='_evt_push("click", "normal", "more_theme")')
        h3(style='display: inline-block; cursor: pointer;') More theme
      p(style='margin: 0;') Just use the query parameters <code>theme</code>, like this: <code>https://count.getloli.com/get/@:name?theme=moebooru</code>
      h5 asoul
      img(src='https://count.getloli.com/get/@demo?theme=asoul', alt='A-SOUL')
      h5 moebooru
      img(src='https://count.getloli.com/get/@demo?theme=moebooru', alt='Moebooru')
      h5 rule34
      img(src='https://count.getloli.com/get/@demo?theme=rule34', alt='Rule34')
      h5 gelbooru
      img(src='https://count.getloli.com/get/@demo?theme=gelbooru', alt='Gelbooru')

    h3 Credits
    ul
      li
        a(href='https://repl.it/', target='_blank', rel='nofollow') repl.it
      li
        a(href='https://space.bilibili.com/703007996', target='_blank', title='A-SOUL_Official') A-SOUL
      li
        a(href='https://github.com/moebooru/moebooru', target='_blank', rel='nofollow') moebooru
      li
        a(href='javascript:alert("!!! NSFW LINK !!!\\nPlease enter the url manually")') rule34.xxx
        |  NSFW
      li
        a(href='javascript:alert("!!! NSFW LINK !!!\\nPlease enter the url manually")') gelbooru.com
        |  NSFW
      li
        a(href='https://icons8.com/icons/set/star', target='_blank', rel='nofollow') Icons8

    h3 Tool
    .tool
      code https://count.getloli.com/get/@
      input#name(type='text', placeholder=':name', style='display: inline-block; width: 80px; height: 1.4em; line-height: 1.4em; margin: 0 4px; vertical-align: middle;')
      code ?theme=
      select#theme(style='display: inline-block; height: 1.6em; line-height: 1.6em; font-size: 14px; margin: 0 4px; padding: 0 4px; vertical-align: middle;')
        option(value='asoul') asoul
        option(value='moebooru') moebooru
        option(value='rule34') rule34
        option(value='gelbooru') gelbooru
      button#get(style='margin: 10px 0;', onclick='_evt_push("click", "normal", "get_counter")') Get
      img#result(style='display: block;')

      script.
        var btn = document.getElementById('get'),
            img = document.getElementById('result')

        btn.addEventListener('click', function() {
          var name = document.getElementById('name'),
              themeEl = document.getElementById('theme')
          var text = name.value ? name.value.trim() : ''
          var theme = themeEl.value || 'moebooru'
          if(!text) {
            alert('Please input counter name.')
            return
          }

          img.src = 'https://count.getloli.com/get/@' + text + '?theme=' + theme
        })

    iframe(src="https://chat.getloli.com/room/@Moe-counter?title=%E8%90%8C%E8%90%8C%E8%AE%A1%E6%95%B0%E5%99%A8%E7%9A%84%E7%95%99%E8%A8%80%E6%9D%BF", scrolling="no", frameborder="0", height="70%", width="26%", style="position: fixed;top: 2%;right: 5%;")

    p.copy
      a(href='https://github.com/journey-ad/Moe-Counter', target='_blank', onclick='_evt_push("click", "normal", "go_github")') source code