html
  head
    title='Kawaii Counter!'
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet',href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css')

  body
    h4 How to use:

    h5 SVG address
    code.
     https://count.getloli.com/get/@:name

    h5 Img tag
    code.
     &lt;img src="https://count.getloli.com/get/@:name" alt=":name" />

    h5 Markdown
    code.
     [:name](https://count.getloli.com/get/@:name)

    h4 eg:
      <img src="https://count.getloli.com/get/@index" alt="Kawaii Count!" />

    p.copy
      a(href='')