<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moe Counter CF</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/dsr-design@2.5.1/css/colors.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/dsr-design@2.5.1/css/reset.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?display=swap&family=Inter:wght@400;500"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-assets@3.0.0/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-assets@3.0.0/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-assets@3.0.0/favicon/favicon-16x16.png"
    />
    <link
      rel="shortcut icon"
      href="https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-assets@3.0.0/favicon/favicon.ico"
    />
  </head>
  <body>
    <header>HEADER</header>
    <main>MAIN</main>
    <footer>Copyright &copy; 2022 DSRKafuU</footer>
  </body>
</html>
